{# templates/index.html #}
{% extends "juice/templates/index.html" %}
<div class="content text">
    {% block content %}
    <div id="features" class="heading-text"></div>
    {{ section.content | safe }}
    {% endblock content %}
</div>
{% block sidebar %}
{% endblock sidebar %}
{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        TYML: Type checker for markup language
    </h1>
    <h3 class="title-text">
        A typedef language that guarantees the correctness of settings value.
    </h3>
    <div>
        <a class="github-button" href="https://github.com/tyml-org/tyml" data-size="large" data-show-count="true"
            aria-label="Star tyml on GitHub">Star</a>
        <a href="https://discord.gg/aUHxkMqSTc" data-size="large">
            <img alt="Discord" src="https://img.shields.io/discord/1382287953291776010.svg?label=Discord&logo=Discord&colorB=7289da&style=for-the-badge">
        </a>
    </div>
</section>
<img class="hero-image" style="width: 50%" src="{{ get_url(path="tyml.png") }}">

<div class="explore-more text"
    onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>
{% endblock hero %}
{% block footer %}
<footer>
    <small class="subtext">
        <a href="https://github.com/tyml-org/">tyml-lang.org</a>
    </small>
</footer>
{% endblock footer %}
